#authorize
  #application-description
    = image_tag(@client.application_base_url + @client.icon_url, :id => 'client-application-image')
    %br
    %strong
      = @client.name
    .description
      = @client.description

  %h2
    = @client.permissions_overview
  
  %br
  %br
  %h3
    = t('.permissions.allowed_to')
  %ul#permissions
    - if @client.permissions.reading.any?
      %li#reading_permissions
        = t('.permissions.reading')
        %ul
          - @client.permissions.reading.each do |permission|
            %li
              = t('.permissions.read.'+permission.scope)
    - if @client.permissions.writing.any?
      %li#writing_permissions
        = t('.permissions.writing')
        %ul
          - @client.permissions.writing.each do |permission|
            %li
              = t('.permissions.write.'+permission.scope)
    
  = form_for :authorization,
    :url => oauth_authorize_path(params.slice(:redirect_uri, :client_id, :client_secret)) do |form|
    %br
    %p
      = form.submit "Fuck Yeah!", :value => "Authorize", :class => 'button'
      = form.submit "Hell No.", :value => "No", :class => 'button'

